.DS_Store
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.hmap
.build/
.swiftpm/
.cursor/
.idea/
.env
.env.*
*.dSYM
*.dSYM.zip
CheckpointVPNOneClick.xcodeproj/xcuserdata/
CheckpointVPNOneClick.xcodeproj/project.xcworkspace/xcuserdata/
